@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}
.content-size {
  @apply max-w-7xl mx-auto h-screen;
}
.link:hover {
  @apply text-secondary transition-all ease-in;
  transition-duration: 100ms;
}
@keyframes slide-in {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}
.animate-slide-in{
  animation: slide-in 100ms ease-in;
}
.animate-slide-in-1 {
  animation: slide-in 300ms ease-in;
}
.tally {
    position: relative;
    display: inline-block;
}
.tally::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px; 
    width: 0;
    height: 8px; 
    background: var(--color-primary);
    transition: width 0.4s ease;
    animation: underline-grow 0.8s forwards 0.5s;
}
@keyframes underline-grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}